<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: File Metadata Microservice</h2>

        <h3>Usage:</h3>
        <p>
          Please Upload a File ...
        </p>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          by Lolontle Moatshe
        </p>
      </div>
      <footer>
        <a href="https://www.linkedin.com/in/lolontlemoatshe/"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/Lolontle/File_Metadata"><i  class="fa fa-github fa-2x"></i></a>
      </footer>
   </body>
</html>